In [52]:
#setup
import functools

import numpy as np
import tensorflow as tf

In [53]:
#download the data
TRAIN_DATA_URL = "https://storage.googleapis.com/tf-datasets/titanic/train.csv"
TEST_DATA_URL = "https://storage.googleapis.com/tf-datasets/titanic/eval.csv"

train_file_path = tf.keras.utils.get_file("train.csv", TRAIN_DATA_URL)
test_file_path = tf.keras.utils.get_file("eval.csv", TEST_DATA_URL)

In [54]:
#st numpy data easy to read
np.set_printoptions(precision = 3, suppress = True)

In [55]:
#load data
LABEL_COLUMN = 'survived'
LABELS = [0, 1]


def get_dataset(file_path, **kwargs):
    dataset = tf.data.experimental.make_csv_dataset(
    file_path,
    batch_size = 5,
    label_name = LABEL_COLUMN,
    na_value = "?",
    num_epochs = 1,
    ignore_errors = True,
    **kwargs)
    
    return dataset
raw_train_data = get_dataset(train_file_path)
raw_test_data = get_dataset(test_file_path)

In [56]:
def show_batch(dataset):
    for batch, label in dataset.take(1):
        for key, value in batch.items():
            print("{:20s}:{}".format(key, value.numpy()))

In [57]:
#display the data
show_batch(raw_train_data)

sex                 :[b'male' b'male' b'female' b'female' b'male']
age                 :[48. 28. 24. 28. 28.]
n_siblings_spouses  :[0 0 0 3 0]
parch               :[0 0 0 1 0]
fare                :[ 7.854  8.05  83.158 25.467  7.896]
class               :[b'Third' b'Third' b'First' b'Third' b'Third']
deck                :[b'unknown' b'unknown' b'C' b'unknown' b'unknown']
embark_town         :[b'Southampton' b'Southampton' b'Cherbourg' b'Southampton' b'Southampton']
alone               :[b'y' b'y' b'y' b'n' b'y']

In [58]:

#preprocesses the data
example_batch, labels_batch = next(iter(temp_dataset)) 

class PackNumericFeatures(object):
    def __init__(self, names):
        self.names = names
    def __call__(self, features, labels):
        numeric_features = [features.pop(name) for name in self.names]
        numeric_features = [tf.cast(feat, tf.float32) for feat in numeric_features]
        numeric_features = tf.stack(numeric_features, axis=-1)
        features['numeric'] = numeric_features

        return features, labels

In [59]:

NUMERIC_FEATURES = ['age','n_siblings_spouses','parch', 'fare']

packed_train_data = raw_train_data.map(
    PackNumericFeatures(NUMERIC_FEATURES))
packed_test_data = raw_test_data.map(
    PackNumericFeatures(NUMERIC_FEATURES))

show_batch(packed_train_data)

sex                 :[b'male' b'male' b'female' b'female' b'female']
class               :[b'Second' b'Third' b'First' b'First' b'Second']
deck                :[b'unknown' b'unknown' b'E' b'B' b'unknown']
embark_town         :[b'Southampton' b'Southampton' b'Cherbourg' b'Cherbourg' b'Southampton']
alone               :[b'y' b'n' b'n' b'y' b'n']
numeric             :[[59.     0.     0.    13.5  ]
 [11.     5.     2.    46.9  ]
 [39.     1.     1.    83.158]
 [24.     0.     0.    69.3  ]
 [50.     0.     1.    26.   ]]

In [60]:
example_batch, labels_batch = next(iter(packed_train_data)) 
#data normalization

import pandas as pd
desc = pd.read_csv(train_file_path)[NUMERIC_FEATURES].describe()
desc

              age  n_siblings_spouses       parch        fare
count  627.000000          627.000000  627.000000  627.000000
mean    29.631308            0.545455    0.379585   34.385399
std     12.511818            1.151090    0.792999   54.597730
min      0.750000            0.000000    0.000000    0.000000
25%     23.000000            0.000000    0.000000    7.895800
50%     28.000000            0.000000    0.000000   15.045800
75%     35.000000            1.000000    0.000000   31.387500
max     80.000000            8.000000    5.000000  512.329200

In [61]:
MEAN = np.array(desc.T['mean'])
STD = np.array(desc.T['std'])

In [62]:
def normalize_numeric_data(data,mean,std):
    return(data-mean)/std

In [63]:
#create a numeric column
normalizer = functools.partial(normalize_numeric_data, mean=MEAN, std=STD)

numeric_column = tf.feature_column.numeric_column('numeric', normalizer_fn=normalizer, shape=[len(NUMERIC_FEATURES)])
numeric_columns = [numeric_column]
numeric_column

NumericColumn(key='numeric', shape=(4,), default_value=None, dtype=tf.float32, normalizer_fn=functools.partial(<function normalize_numeric_data at 0x7ff383c118c8>, mean=array([29.631,  0.545,  0.38 , 34.385]), std=array([12.512,  1.151,  0.793, 54.598])))

In [64]:
example_batch['numeric']

<tf.Tensor: shape=(5, 4), dtype=float32, numpy=
array([[25.   ,  0.   ,  0.   , 13.   ],
       [20.   ,  1.   ,  1.   , 15.742],
       [22.   ,  0.   ,  0.   ,  7.25 ],
       [47.   ,  1.   ,  0.   , 14.5  ],
       [28.5  ,  0.   ,  0.   ,  7.229]], dtype=float32)>

In [65]:
numeric_layer = tf.keras.layers.DenseFeatures(numeric_columns)
numeric_layer(example_batch).numpy()

array([[-0.37 , -0.474, -0.479, -0.392],
       [-0.77 ,  0.395,  0.782, -0.341],
       [-0.61 , -0.474, -0.479, -0.497],
       [ 1.388,  0.395, -0.479, -0.364],
       [-0.09 , -0.474, -0.479, -0.497]], dtype=float32)

In [67]:
CATEGORIES = {
    'sex': ['male', 'female'],
    'class' : ['First', 'Second', 'Third'],
    'deck' : ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    'embark_town' : ['Cherbourg', 'Southhampton', 'Queenstown'],
    'alone' : ['y', 'n']
}
categorical_columns = []
for feature, vocab in CATEGORIES.items():
    cat_col = tf.feature_column.categorical_column_with_vocabulary_list(
        key=feature, vocabulary_list=vocab)
    categorical_columns.append(tf.feature_column.indicator_column(cat_col))
categorical_columns

[IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='sex', vocabulary_list=('male', 'female'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='class', vocabulary_list=('First', 'Second', 'Third'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='deck', vocabulary_list=('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='embark_town', vocabulary_list=('Cherbourg', 'Southhampton', 'Queenstown'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='alone', vocabulary_list=('y', 'n'), dtype=tf.string, default_value=-1, num_oov_buckets=0))]

In [68]:
categorical_layer = tf.keras.layers.DenseFeatures(categorical_columns)

In [69]:
preprocessing_layer = tf.keras.layers.DenseFeatures(categorical_columns+numeric_columns)

In [71]:
#build the model
model = tf.keras.Sequential([
  preprocessing_layer,
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dense(1),
])

model.compile(
    loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
    optimizer='adam',
    metrics=['accuracy'])

In [72]:
#train,evaluate and validate
train_data = packed_train_data.shuffle(500)
test_data = packed_test_data

In [73]:
model.fit(train_data, epochs=20)

Epoch 1/20
126/126 [==============================] - 1s 5ms/step - loss: 0.5158 - accuracy: 0.7432
Epoch 2/20
126/126 [==============================] - 0s 3ms/step - loss: 0.4171 - accuracy: 0.8230
Epoch 3/20
126/126 [==============================] - 0s 3ms/step - loss: 0.4080 - accuracy: 0.8246
Epoch 4/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3924 - accuracy: 0.8293
Epoch 5/20
126/126 [==============================] - 0s 3ms/step - loss: 0.3850 - accuracy: 0.8325
Epoch 6/20
126/126 [==============================] - 0s 3ms/step - loss: 0.3782 - accuracy: 0.8389
Epoch 7/20
126/126 [==============================] - 0s 3ms/step - loss: 0.3693 - accuracy: 0.8357
Epoch 8/20
126/126 [==============================] - 0s 3ms/step - loss: 0.3598 - accuracy: 0.8437
Epoch 9/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3555 - accuracy: 0.8469
Epoch 10/20
126/126 [==============================] - 0s 3ms/step - loss: 0.3538 - accuracy: 0.8501
Epoch 11/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3442 - accuracy: 0.8549
Epoch 12/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8549
Epoch 13/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3426 - accuracy: 0.8533
Epoch 14/20
126/126 [==============================] - 0s 3ms/step - loss: 0.3336 - accuracy: 0.8581
Epoch 15/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3273 - accuracy: 0.8596
Epoch 16/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3297 - accuracy: 0.8517
Epoch 17/20
126/126 [==============================] - 0s 3ms/step - loss: 0.3187 - accuracy: 0.8533
Epoch 18/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3221 - accuracy: 0.8660
Epoch 19/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3122 - accuracy: 0.8612
Epoch 20/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3099 - accuracy: 0.8565

In [74]:
#check accuracy
test_loss, test_accuracy = model.evaluate(test_data)

print('\n\nTest Loss {}, Test Accuracy {}'.format(test_loss, test_accuracy))

53/53 [==============================] - 0s 3ms/step - loss: 0.4398 - accuracy: 0.8447


Test Loss 0.4398459494113922, Test Accuracy 0.8446969985961914

In [75]:
predictions = model.predict(test_data)

# Show some results
for prediction, survived in zip(predictions[:10], list(test_data)[0][1][:10]):
  prediction = tf.sigmoid(prediction).numpy()
  print("Predicted survival: {:.2%}".format(prediction[0]),
        " | Actual outcome: ",
        ("SURVIVED" if bool(survived) else "DIED"))

Predicted survival: 7.55%  | Actual outcome:  SURVIVED
Predicted survival: 35.98%  | Actual outcome:  DIED
Predicted survival: 10.63%  | Actual outcome:  SURVIVED
Predicted survival: 14.77%  | Actual outcome:  DIED
Predicted survival: 10.23%  | Actual outcome:  SURVIVED